body{
    background-color: rgb(0, 17, 255);
    margin: 0px;
}


.corpo-FAQ{
    background-color: white;
    display: flex;
    width: 100%;
}

.duvidas{
    background-color: white;
    padding: 40px;
    width: 500px ;
    height: 500px;
    margin-left: 150px;
    border: solid 5px;
    border-color: gray;
    margin-top: 50px;
    border-radius: 10px;
}

.btnDuvida1{
    margin-bottom: 2px;
    width: 400px;
    background: white;
    border-radius: 50px;
    border:solid 3px;
    border-color: rgb(119, 113, 113);
}

.btnDuvida2{
    margin-top: 10px;
    width: 400px;
    background: white;
    border-radius: 50px;
    border:solid 3px;
    border-color: rgb(119, 113, 113);
}

.btnDuvida3{
    margin-top: 10px;
    width: 400px;background: white;
    border-radius: 50px;
    border:solid 3px;
    border-color: rgb(119, 113, 113);
}

.btnDuvida4{
    margin-top: 10px ;
    width: 400px;
    background: white;
    border-radius: 50px;
    border:solid 3px;
    border-color: rgb(119, 113, 113);
}

.btnDuvida5{
    margin-top:  10px;
    width: 400px;
    background: white;
    border-radius: 50px;
    border:solid 3px;
    border-color: rgb(119, 113, 113);
}

.formulario-contato{
    width: 350px ;
    height: 450px ;
    background-color: white;
    border: solid 5px;
    border-color: gray;
    border-radius: 10px;
    padding:30px;
    margin-top: 100px ;
    margin-left: 150px ;
    margin-bottom: 50px ;
}

.nomeContato{
    border: solid 2px;
}