body{
    background: rgb(213, 225, 226);
}
a:hover{
    text-decoration:none;
    color: rgb(51, 119, 126);
}
p{
    font-size: 18px;
}

.btn-primary{
    background-color: rgb(130, 202, 202);
    font-size: 16px;
    font-weight: 500;
    border: none;
    box-shadow: none;
}
.btn-primary:hover{
    background-color: rgb(120, 184, 184);
    border: none;
    box-shadow: none;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-color: none;
    border: none;
    box-shadow: none;
}

.btn:active{
    background-color: rgb(120, 184, 184);
    border: none;
    box-shadow: none;
}


.logoHeader{
    background-image:url('../img/logoTipado.png'); 
    background-size: 250px;
    background-repeat: no-repeat;
    width:250px; 
    height:80px; 
}
.nav-wrapper{
    background-color: rgb(130, 202, 202);
}

/* RODAPÉ */

#myFooter {
    background-color: rgb(121, 187, 187);
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: rgb(80, 136, 136);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

/* SLIDE */

.imgSlide{
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

.slide{
    margin-top:-10px;
    max-height: 60%;
}
.carousel{
    position: RELATIVE;
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

/* CONTEUDO INDEX */
.conteudo{
    background-color: rgb(142, 204, 204);
    display: flex;
    width: 80%;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 5px 10px #999999;
}

.btnCad{
    background:rgb(175, 228, 235);
    width: 100%;
    border: solid;
    border-radius: 20px ;
    border-color: rgb(175, 228, 235);
}

.cont-sobre{
    background-color: rgb(231, 245, 247);
    width: 100% ;
    margin:20px;
    border-radius: 20px; 
    padding: 15px;
}

.text-sobre{
    width: 60%;
    position: relative;
    float: left;
}
.text-sobre p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    color: rgb(72, 76, 77);
    font-weight: 200;
}


.index-btns{
    width: 40% ;
    position: relative;
    float: left;
    padding: 20px;
}

.btn-index img{
    width: 65px;
    height: 65px;
    margin: 0 auto;
}

.btn-index div{
    text-align: center;
    height: 0 auto;
    margin: 0 auto;
}


.btn-index a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(95, 101, 102);
    font-weight: bold;
    background-color: #bdbdbd;
}

.btn-index a:hover{
    text-decoration: none;
    color: rgb(90, 131, 138);
    font-weight: bolder;
    background-color: #bdbdbd;
    border-radius:10px;
}

.btn-index{
    margin:10px;
    margin-bottom: 25px;
}

/* CADASTRO */

.atencao-telefone{
    background-color: rgb(218, 218, 218);
    color: rgb(36, 114, 128);
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    
}
.cont-cadastro{
    background-color: rgb(231, 245, 247);
    width: 100% ;
    margin:20px;
    border-radius: 20px; 
    padding: 15px;
}

.formulario-cadastro-cuidador{
    margin: auto;
    width: 60%;
    display: table;
}

.input-cadastro{
    margin: 3%;
    background-color: #fff;
    width: 40%;
    float: left;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 5px ;
    height: 40px;
    box-shadow: 3px 5px #999999;
}

.text-Info-Profissional{
    margin: 3%;
    background-color: #fff;
    border: solid 3px #999999;
    border-radius: 10px;
    box-shadow: 3px 5px #999999;
    
}

.text-Info-Profissional > textarea{
    resize: none;
    height: 200px;
    border: solid 1px #999999;
}

.cor-preta::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
}



.select-cadastro{
    width: 40%;
    margin: 5%;
}

.btnEnviarCadastroCliente{
    width: 20%;
    height: 40px;
    margin-left: 35%;
    margin-bottom: 5px;
    border: solid 1px;
    border-radius: 10px;
    border-color:  rgb(173, 175, 175);
    font-size: 15px;
    font-family: arial;
}

.btnEnviarCadastroCliente:hover{
    background-color: rgb(210, 228, 228);
}

/* LOGIN */

.cont-login-cad{
    background-color: rgb(231, 245, 247);
    width: 100% ;
    margin:20px;
    border-radius: 20px; 
}
.cont-login{
    width: 100%;
    max-width: 50%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    position: relative;
    float: left;
}
.formulario-Login{
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
}


.btn-cadastro-cuidador{
    height: 110px;
    border-radius: 20px;
    border: none;
    background: white;
    position: relative;
    float: left;
    box-shadow: 3px 7px #999999;
}

.btn-cadastro-cuidador:hover{
    background: rgb(225, 241, 239);
}

.margin-button{
  width: 30%;
  margin: 50px;
  position: relative;
  float: left;
}

.cadastre-se{
    width: 30px;
    margin-left: 10%;
    width: 51%;
    font-family: arial;
}

.btnEnviarLogin{
    background: rgb(161, 218, 212);
    border: solid 0px ;
    border-radius: 5px;
    width: 50%;
    height: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
}

/* CONTATO */

.duvidas{
    background-color: rgb(231, 245, 247);
    padding: 5%;
    width: 50% ;
    margin:20px;
    border-radius: 20px; 
}


.btnDuvida{
    margin-top: 10px;
    width: 100%;
    background: white;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 4px #999999;
    padding-top:5px;
}

.btnDuvida:active{
    margin-top: 10px;
    width: 100%;
    background: rgb(221, 221, 221);
    border-radius: 5px;
    border: none;
    box-shadow: 3px 4px #999999;
    padding-top:5px;
}

#drop-duvida p{
    display: block;
    font-size: 14px;
    margin:0;
    text-align: center;
    padding: 2px;
    box-shadow: 3px 4px #b3cdd6;
    background-color: rgb(200, 228, 241);
}

#drop-duvida2 p{
    display: block;
    font-size: 14px;
    margin:0;
    text-align: center;
    padding: 2px;
    box-shadow: 3px 4px #b3cdd6;
    background-color: rgb(200, 228, 241);
}

#drop-duvida3 p{
    display: block;
    font-size: 14px;
    margin:0;
    text-align: center;
    padding: 2px;
    box-shadow: 3px 4px #b3cdd6;
    background-color: rgb(200, 228, 241);
}

#drop-duvida4 p{
    display: block;
    font-size: 14px;
    margin:0;
    text-align: center;
    padding: 2px;
    box-shadow: 3px 4px #b3cdd6;
    background-color: rgb(200, 228, 241);
}

#drop-duvida5 p{
    display: block;
    font-size: 14px;
    margin:0;
    text-align: center;
    padding: 2px;
    box-shadow: 3px 4px #b3cdd6;
    background-color: rgb(200, 228, 241);
}

.formulario-contato{
    width: 50% ;
    background-color:rgb(231, 245, 247);
    border-radius: 20px;
    padding:3%;
    margin: 20px;
}

.btnEnviarDuvida{
    background:rgb(175, 228, 235);
    width: 70%;
    height: 40px  ;
    border: solid 0px;
    border-radius: 30px ;
    margin-left: 15%;
    margin-top: 5%;
}

.mensagemContato{
    border: solid 1px;
    border-radius: 10px;
    resize: none;
    height: 1%;
}

/* PAINEL DO USUARIO-CUIDADOR */

.alter-info-usuario{
    width: 50%;
}

.conteudoPainelUsuario{
    width: 100%;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;

}

.table-dados tr{
    border-bottom: 1px solid  gray;
}

.table-dados tr td{
    padding: 10px;
    font-size: 14px;
}
.introducao-painelUsuario{
    margin:0 auto;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border: 10px solid  rgb(142, 204, 204);
    border-radius: 20px;
    box-shadow: 5px 8px gray;
}

.cont-desativar{
    float: right;
    width: 300px;
}
.btn-desativar{
    background: rgb(156, 20, 20);
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    width: 150px;
    border-radius: 15px
}

.btn-desativar:hover{
    background: rgb(114, 14, 14);
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    width: 150px;
    border-radius: 15px
}

.btn-desativar a{
    color: white;
}

.txt-desativar{
    font-size: 12px;
    color: gray;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.btn-ativar{
    background: rgb(24, 158, 69);
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    width: 130px;
    border-radius: 15px
}

.btn-ativar:hover{
    background: rgb(24, 158, 69);
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    width: 130px;
    border-radius: 15px
}

.btn-ativar a{
    color: white;
}
/* FILTRO */

.cont-filtro{
    width: 100%;
    max-width: 25%;
    background:rgb(231, 245, 247);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

/* CONSULTA */

.cont-consulta{
    width: 100%;
    max-width: 75%;
    background:rgb(231, 245, 247);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.cont-perfil{
    width: 100%;
    max-width: 30%;
    background:rgb(217, 230, 233);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    float: left;
    text-align: center;
    box-shadow: 5px 5px rgb(78, 78, 78) ;
}

.btn-perfil{
    background: rgb(171, 204, 204);
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
}

.btn-perfil:hover{
    background: rgb(141, 177, 177);
    font-size: 14px;
    font-weight: bold;
    color: rgb(218, 218, 218);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    text-decoration: none;
    border: none;
}
.atencao{
    font-size: 14px
}
/* PERFIL */

.cont-perfil-cuidador{
    width: 100%;
    margin:10px;
    border-radius: 10px;
    background: rgb(217, 230, 233);
}

.info-perfil{
    width: 100%;
    max-width: 80%;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    display: table;
    color: rgb(63, 69, 73);
}

.info-container{
    margin:15px;
}

.info-title{
    background: rgb(174, 212, 212);
    padding:10px;
    border-radius: 10px;
}

.info-pessoais{
    display: inline-block;
    width: 100%;
}


.foto-perfil img{
    width: 200px; 
    height:200px; 
    border-radius: 100px; 
    margin-left:30px;
}

.foto-perfil{
    float: left;
    margin: 15px;
}
.nome-dados{
    float: left;
    margin: 50px 20px 20px 20px;
}

.info-pessoal-nome{
    font-size: 25px;
    font-weight: bold;
    margin:10px 15px;
    
}

.info-pessoal-idadeSexo{
    font-size: 20px;
    margin:5px 15px;
}

.local-text{
    position: relative;
    display: inline-block;
    margin: 15px;
}

.local-text h3{
    background: lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.info-prof{
    background:lightgrey;
    border-radius: 10px;
    min-height: 80px;
    margin: 15px;

}

.info-prof-title{
    margin-left: 15px;
}

.info-contato{
    margin: 20px;
}

.telefone{
    font-size: 16px;
    background-color: lightgrey;
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    
}

.btn-email{
    background: rgb(171, 204, 204);
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
    margin: 0 auto;
    display: table;
    border: none;
}

.btn-email:hover{
    background: rgb(141, 177, 177);
    font-size: 14px;
    font-weight: bold;
    color: rgb(218, 218, 218);
    border-radius: 5px;
    padding: 8px;
    margin: 0 auto;
    text-decoration: none;
    border: none;
}

.info-prof-disp{
    margin: 15px;
    font-size: 20px;
}

.info-prof-disp h3{
    background: lightgrey;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.msgbox-perfil{
    height:100px;
    color: rgb(49, 66, 70);
}
::-webkit-input-placeholder{
    color: rgb(49, 66, 70);
}

/* CONFIRMA ENVIO */

.cont-envio{
    margin: 15px;

}

.form-senha{
    width: 60%;
    margin: 0 auto;
}